import(MCMCpack)
import(snowfall)
import(nlme)
import(gmodels)
import(MASS)
import(plyr)
import(preprocessCore)
import(inline)
import(Rcpp)
import(IRanges)
import(Biostrings)
import(mmap)
import(qvalue)
import(methods)

export(append.effectsign)
##export(batch.jobs)
export(calculate.gmeans)
export(choose.events.cutoff)
export(cleanup.on.gmeans)
export(compute.pmeans)
export(construct.contrast.objs)
export(construct.contrasts)
export(create.ws.dir)
export(disjoin.sites)
export(.dptworkflow)
export(est.pois.lambda)
export(event.allPossiblePatterns)
export(event.patternsToScan)
export(events.score)
export(format.sites4diffTest)
export(get.difftest.flatReport)
export(get.mappedCountTab)
export(get.reads.fromJoinedSamples)
export(get.ws)
export(get.ws.chrs)
export(get.ws.path)
export(get.wsoption.path)
export(init.ws.dirs)
export(map.region)
export(merge.samples)
export(mixPois_eWin)
export(process.diffTest)
export(ranged.e.TF)
export(save.ws)
export(save.ws.image)
export(select.reads)
export(select.sig.sites)
export(start.para)
export(stop.para)
export(win.select)
